<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 13.01.2022, 9:26</p>
            <h2><a href="">My first post</a></h2>
            <p>шла саша по шоссе и сасала сушку</p>
        </div>

        <div>
            <p>published: 13.01.2021, 9:28</p>
            <h2><a href="">My second post</a></h2>
            <p>на дворе трава на траве дрова не руби дрова на трове двора</p>
        </div>
    </body>
</html>